.chooseRideButton {
  display: grid;
  border: none;
  place-items: center;
  border-radius: 1rem;
  background: var(--pattern-color);
  width: 3.75rem;
  height: 5rem;
  box-shadow: var(--component-shadow);
  padding: 0.5rem;
}

.chooseRideImg {
  width: 2rem;
}

.chooseRideContainer {
  box-shadow: var(--component-shadow);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.6rem;
}
