.input {
  border-radius: 2rem;
  border: 0.2rem solid #b7cfcf;
  width: 16.25rem;
  height: 2.5rem;
  background-color: #fff;
  color: var(--component-BG-color);
  text-align: center;
}

.input::placeholder {
  color: #b1d0cf;
  text-align: center;
}
