html,
:root {
  --primary-background-color: #f3f9fc;
  --pattern-color: #fff;
  --button-active-color: #ffd25f80;
  --primary-font-color: #309fab;
  --table-color: #fbb80f80;
  --button-border-color: #519da9;
  --input-border-color: #b7cfcf;
  --component-BG-color: #b1d0cf;
  --component-shadow: 0 0.2rem 0.4rem 0 #00000029;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
