html,

:root {
  --primary-background-color: #F3F9FC;
  --pattern-color: #ffffff;
  --header-color: #B1D0CF;
  --button-active-color: #FBB80F;
  --primary-font-color: #309FAB;
  --table-color: #FBB80F80;
  --button-border-color: #519DA9;
  --input-border-color: #B7CFCF;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
